body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: .75em;
}

.divider {
  width: 100%;
  clear: both;
}

.production_card, .actor_card {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.production_card img, .actor_card img {
  width: 100%;
}

#contentContainer {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}

#productionDisplay, #createContainer {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  background: rgb(241, 241, 241);
}